
* {
  font-family: Helvetica;
}

h2 {
  font-size: 24px;
}

div.main-content {
  font-size: 14px;
  color: #5b5b5b;
}

.main-content td {
  padding-right: 10px;
}

ul {
  font-size: 12px;
}

div.result-area {
  margin-left: 140px;
}

div.result {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 700px;
}
.result a {
  color: #1a0dab;
}

#total-results {
  color: grey;
}

button.search {
  height: 40px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #4285f3;
  border-color: #1a5fd0;
  color: white;
}

hr {
  color: #c4c4c4;
}

#logo {
  width: 125px;
  margin-right: 30px;
  padding: 10px;
}
input.search {
  margin-right: 20px;
  height: 30px;
  width: 400px;
  border-radius: 15px;
}
