div.centered {
  width: 400px;
  margin: 0 auto;
}

#logo {
  width: 150px;
  margin: 200px 0 0 125px;
}
input{
  width: 400px;
  border-color: #c4c4c4;
  color: #5b5b5b;
}
button {
  width: 80px;
  background-color: #4285f3;
  border-color: #1a5fd0;
  color: white;
  margin-left: 160px;
  border-radius: 5px;
  height: 30px;
}

button:hover {
  background-color: #5998ff;
}
.search {
  margin: 20px 0 0 0;
}
input {
  border-radius: 15px;
  height: 30px;
}
